{% extends "layoutAdmin.njk" %}

{% block content %}
    {% block head %}
        <title>Criando uma receita</title>
        <link rel="stylesheet" href="/styles/admin/create.css">
    {% endblock %}

    <form action="/admin/recipes/" class="card" method="POST">
        <div class="title-button">
            <h3>Criando receita</h3>

            <button type="submit">Salvar receita</button>
        </div>

        <div class="item">
            <div>
                <h3>Imagem da receita</h3>
            </div>
            <div>
                <input type="url" name="image">
            </div>
        </div>
        
        <div class="item" id="ingredients">
            <div>
                <h3>Ingredientes</h3>
            </div>
            <div class="ingredient">
                <input 
                    type="text" 
                    name="ingredients[]" 
                    value=""
                >
            </div>
        </div>
        <div class="button">
            <button type="button" class="add-ingredient">Adicionar ingrediente</button>
        </div>
        

        <<div class="item" id="steps">
            <div>
                <h3>Passos</h3>
            </div>
            <div class="step">
                <input 
                    type="text" 
                    name="steps[]" 
                    value=""
                >
            </div>
        </div>
        <div class="button">
            <button type="button" class="add-step">Adicionar ingrediente</button>
        </div>

        <div class="item">
            <div>
                <h3>Informações de preparo</h3>
            </div>
            <div>
                <textarea id="information" name="information"
                        rows="5" cols="33">
    
                </textarea>
            </div>
        </div>
    </form>
    <script src="/scripts/admin/admin.js"></script>
{% endblock content %}