{% extends "layoutAdmin.njk" %}

{% block content %}
    {% block head %}
        <title>Criando uma receita</title>
        <link rel="stylesheet" href="/styles/admin/create.css">
    {% endblock %}

    <form action="/admin" class="card" method="POST">
        <div class="title-button">
            <h3>Criando receita</h3>

            <button type="submit">Salvar receita</button>
        </div>
        
    </form>
{% endblock content %}