{% extends "layoutAdmin.njk" %}

{% block content %}
    {% block head %}
        <title>Criando uma receita</title>
        <link rel="stylesheet" href="/styles/admin/create.css">
    {% endblock %}
{% endblock content %}