{% extends "layoutAdmin.njk"%}

{% block content %}

    {% block head %}
        <title>Detalhes da receita</title>
        <link rel="stylesheet" href="/styles/admin/detail.css">
        <link rel="stylesheet" href="/styles/admin/admin.css">
    {% endblock %}

    <div class="title-button">
        <div class="receita">
            <h1>Receita: {{recipe.title}}</h1>
        </div>

        <div class="button">
            <a href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
        </div>
    </div>

    <div class="wrapper">
        <img src="{{recipe.image}}" alt="">
    </div>

    <div class="title-author">
        <div class="title">
            <h1>{{recipe.title}}</h1>
        </div>

        <div class="author">
            <p>por {{recipe.author}}</p>
        </div>
    </div>

    <div class="ingredients">
        <div class="title-ingrendients">
            <h3>Ingredientes</h3>
        </div>

        <div class="details-ingredients">
            {% for ingredients in recipe.ingredients %}
                <li> - {{ingredients}}</li>
            {% endfor %}
        </div>
    </div>

    <div class="preparation">
        <div class="title-preparation">
            <h3>Modo de preparo</h3>
        </div>

        <div class="details-praparation">
            {% for steps in recipe.steps%}
                <li> - {{steps}}</li>
            {% endfor %}
        </div>
    </div>

    <div class="information">
        <div class="title-information">
            <h3>Informações adicionais</h3>
        </div>

        <div class="details-information">
                <p>{{recipe.information}}</p>
        </div>
    </div>
{% endblock content%}