<!DOCTYPE html>
<html>

<head>
    <title>FoodFly</title>
    <link rel="stylesheet" href="/public/index.css">
</head>

<header>
    <div class="logo">
        <img src="/layouts/assets/logo.png" alt="Logo FoodFly">
    </div>

    <div class="links">
        <a href="/views/about.html">Sobre</a>
        <a href="/views/recipes.html">Receitas</a>
    </div>

</header>

<body>
    <div class="fundo">
        <div class="texto">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos <br> com receitas criadas por profissionais <br> do mundo inteiro.</p>
        </div>

        <div id="wrapper">
            <img src="/layouts/specs/assets/119236-OQ05QX-268.png" alt="Chefinho">
        </div>
    </div>

    <div class="titulo">
        <h1>Mais acessadas</h1>
    </div>

    <section class="cards">
        <div class="card" id="">
            <div class="card__image-container">
                <img src="/layouts/assets/burger.png" alt="hamburguer">
            </div>
            <div class="card__content">
                <p>Triplo bacon hamburguer</p>
            </div>
            <div class="card__info">
                <p>por Jorge Relato</p>
            </div>
        </div>

        <div class="card" id="">
            <div class="card__image-container">
                <img src="/layouts/assets/pizza.png" alt="Pizza">
            </div>
            <div class="card__content">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card__info">
                <p>por Fabiana Melo</p>
            </div>
        </div>

        <div class="card" id="">
            <div class="card__image-container">
                <img src="/layouts/assets/espaguete.png" alt="Espagute">
            </div>
            <div class="card__content">
                <p>Espagute ao alho</p>
            </div>
            <div class="card__info">
                <p>por Júlia Kinoto</p>
            </div>
        </div>

        <div class="card" id="">
            <div class="card__image-container">
                <img src="/layouts/assets/lasanha.png" alt="Lasanha">
            </div>
            <div class="card__content">
                <p>Lasanha mac n' cheese</p>
            </div>
            <div class="card__info">
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="card" id="">
            <div class="card__image-container">
                <img src="/layouts/assets/doce.png" alt="Docinhos">
            </div>
            <div class="card__content">
                <p>Docinhos pão-do-céu</p>
            </div>
            <div class="card__info">
                <p>por Ricardo Golvea</p>
            </div>
        </div>

        <div class="card" id="">
            <div class="card__image-container">
                <img src="/layouts/assets/asinhas.png" alt="Asinhas">
            </div>
            <div class="card__content">
                <p>Asinhas de frago ao barbecue</p>
            </div>
            <div class="card__info">
                <p>por Vania Steroski</p>
            </div>
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe> <!--Tras algo de fora, outro html-->
            </div>

        </div>
    </div>

    <script src="scripts.js"></script>


</body>

</html>