<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% block head%}
        <title>FoodFly</title>
        <link rel="stylesheet" href="/index.css">
    {% endblock %}
    
</head>

<body>

    <header>
        <div class="logo">
            <a href="/"> <img src="/assets/logo.png" alt="Logo FoodFly"></a>
        </div>
    
        <div class="links">
            <a href="/users/about">Sobre</a>
            <a href="/users/recipes">Receitas</a>
        </div>
    
    </header>

    {% block content %}{% endblock %}

    <script src="/scripts.js"></script>
</body>


</html>