<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        {% block head %}
            <title>Foodfly Administrador</title>
            <link rel="stylesheet" href="/layoutAdmin.css">
        {% endblock head %}
    </head>

    <body>
        <header>
        <div class="logo">
            <a href="/"><img src="/assets/logoAdmin.png" alt="Logo foodly fundo branco, versão administrador"></a>
        </div>
    </header>

    {% block content %}{% endblock content %}
    </body>
</html>