@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
:root {
    --hearder-color: #111111 ;
  }

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

body {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--hearder-color);
    padding: 40px
}

.logo img{
    height: 26.9px;
    width: 90.6px;
    margin-left: 231px;
}

.texto {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 940px;
    margin: 50px auto 50px;
}
