@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
:root {
    --hearder-color: #111111 ;
  }

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

body {
    background-color: white;
    /* display: flex;
    flex-direction: column; */
}

header {
    display: flex;
    align-items: center;

    width: 100%;
    background-color: var(--hearder-color);
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 940px;
    margin:auto;
}

.logo img {
    height: 26.9px;
    width: 90.6px;

}

.texto {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 940px;
    margin: 50px auto 50px;
}

/* ===CARDS===*/

.cardr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cards{
    max-width: 940px;
    margin:0 auto;/*alinha ao meio*/
    margin-top: 50px;
    display: grid;
    justify-content:center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /*da um espaço entre os elementos do grid*/
}
.cards a{
    text-decoration: none;
    color: black;
}

.card__image-container {
    width: 172px;
    height: 80px;
}

.card__image-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.card__content {
    align-items: left;
}
.card__content p {
    width: 100%;
    font-size: 18px;
}

.card__info p {
    width: 100%;
    font-size: 14px;
    color: #777777;
    padding: 5px 0px 10px;
}

.card__view a {
    width: 100%;
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;

}

