@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
:root {
    --hearder-color: #111111 ;
    --details-color: #777777
  }

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.title-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 940px;
    margin: 55px auto auto;
}

.title-button h3 {
    font-size: 24px;
}

.title-button button {
    grid-column-end: none;
    
    padding: 8px 32px;
    background: #6558C3;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 940px;
    margin: 30px auto auto;
}

.item h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item input, 
textarea {
    width: 100%;
    height: 49px;
    margin-bottom: 10px;
    outline: none;

    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.button{
    max-width: 940px;
    margin: 15px auto auto;
}
button {
    background: none;
    color: #6558C3;
    font-size: 16px;

}

#information  {
    width: 100%;
    height: 257px;
}