{% extends "layoutUsers.njk" %}

{% block content%}

    <div class="fundo">
        <div class="texto">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos
                <br>
                com receitas criadas por profissionais
                <br>
                do mundo inteiro.</p>
        </div>

        <div id="wrapper">
            <img src="/assets/chef.png" alt="Chefinho">
        </div>
    </div>

    <div class="titulo">
        <h1>Mais acessadas</h1>
    </div>

    <section class="cards">

        {% for recipe in recipes %}
            <div class="card" id="">
                <div class="card__image-container">
                    <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                </div>
                <div class="card__content">
                    <p>{{recipe.title}}</p>
                </div>
                <div class="card__info">
                    <p>por
                        {{recipe.author}}</p>
                </div>
            </div>
        {% endfor %}

    </section>
{% for recipe in recipes %}
    <div class="modal-overlay">
        <div class="modal">
           <a href="" class="close-modal">
               Fechar modal
           </a> 
        </div>
        <div class="modal-content">
            <img src="" alt="">
        </div>
    </div>
{% endfor %}

    <script src="scripts.js"></script>
{% endblock %}