{% extends "layoutUsers.njk" %}

{% block content%}

    {% block head %}
        <title>Receitas</title>
        <link rel="stylesheet" href="/recipes.css">
    {% endblock %}

    <section class="cards">

        {% for recipe in recipes %}
        <a href="/users/preparation/{{recipe.id}}">
            <div class="cardr" id="">
                <div class="card__image-container">
                    <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                </div>
                <div class="card__content">
                    <p>{{recipe.title}}</p>
                </div>
                <div class="card__info">
                    <p>por
                        {{recipe.author}}</p>
                </div>
            </div>
        </a>
        {% endfor %}

    </section>


{% endblock %}